@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre');

* {
    padding: 0;
    margin: 0;
    font-family: 'Frank Ruhl Libre', 'Times New Roman';
}

.heading {
    background-color: rgb(163, 235, 231);
    text-align: center;
    border-bottom: black solid 1px;
}

.heading h1 {
    padding: 15px;
    font-size: 40px;
}

.content {
    margin: 20px 0;
    padding: 0 15px;
}

.content p {
    font-size: 18px;
}

.content .big-button {
    font-size: 20px;
    padding: 10px 15px;
    border-style: none;
    margin: 10px auto;
    border-radius: 4px;
    transition: background-color 0.3s;
    transition: all 0.3s;
}

.registration {
    margin: 20px 0px;
}

.registration button {
    background-color: #008CBA;
    color: white;
    text-align: center;
    display: block;
}

.players-connected {
    margin: 20px 0;
}
.players-connected h2 {
    text-decoration: underline;
}

.players-connected ul {
    list-style: none;
}

.players-connected .current-turn {
    font-weight: bold;
}

.turn-action button:enabled:hover {
    background-color: grey;
    color:white;
}

.events {
    border-color: black;
    border-style: solid;
    margin: 20px 0;
}

.events h2 {
    padding-left: 4px;
    background-color: rgb(247, 202, 206);
}

.event-list {
    height: 100px;
    overflow: hidden;
    overflow-y: scroll;
    border-top: black solid 1px;
    padding: 3px 5px;
}

.chat {
    border-color: black;
    border-style: solid;
    margin: 20px 0;
}

.chat h2 {
    padding-left: 4px;
    background-color: rgb(202, 247, 232);
}

.chat-bar {
    display: flex;
    margin: 0px;
}

.chat-bar button {
    width: 50px;
    font-size: 16px;
    background-color: lightgreen;
    border: none;
    border-top: black 1px solid;
    border-left: black solid 1px
}

.chat input {
    box-sizing: border-box;
    flex-grow: 6;
    font-size: 15px;
    border-style: none;        
    border-top: black solid 1px;
    padding: 0px 3px;
}

.chat-list {
    height: 150px;
    border-top: black solid 1px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 3px 5px;
}
